.range-slider .low-thumb,
.range-slider .high-thumb {
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0em; /* makes sure this remains circular */
     -fx-padding: 9 3 9 3;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);

}

#playButton {


 -fx-background-image: url('media/Play.jpg');

}
#stopButton {
 -fx-background-image: url('media/Stop.jpg');

}
#loopButton {
 -fx-background-image: url('media/Loop.jpg');
 }

